/* Variables */
:root {
    --primary: #960150;
    --primaryText: rgb(43, 43, 43);
}

/* Global styles */
html {
    color: var(--primaryText);
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Permanent Marker', Arial, sans-serif;
    color: var(--primary);
}

/* Header and footer */
header::before,
footer::before {
    content: '';
    width: 100%;
    height: 1000px;
    position: absolute;
    top: 0;
    background: url("images/explosive doodle.png") no-repeat center center fixed;
    background-size: cover; 
    opacity: .1;
}

h1 {
    position: relative;
    z-index: 999;
}

/* Nav buttons */
.nav-btn {
    position: absolute;
    top: 0;
    width: 40px;
    left: 0;
    height: 100%;
    border: 0;
}

.nav-btn__next {
    left: auto;
    right: 0;
}

