/* Variables */
:root {
    --primary: #960150;
    --primaryText: rgb(43, 43, 43);
}

/* Global styles */
html {
    color: var(--primaryText);
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Permanent Marker', Arial, sans-serif;
    color: var(--primary);
}

